body, html, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#container {
    width: 145rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom right, #52c234, #061700 120%);
}

.card {
    width: 21vw;
    height: 30.47vw;
    perspective: 100vw;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    position: relative;
}
.card:nth-child(1) .front { background-image: url("AnaB11.png"); }
.card:nth-child(2) .front { background-image: url("Celio20.png"); }
.card:nth-child(3) .front { background-image: url("Gabriel38.png"); }
.card:nth-child(4) .front { background-image: url("Heloisa70.jpg"); }
.card:nth-child(5) .front { background-image: url("MariaAlice30.png"); }
.card:nth-child(6) .front { background-image: url("MariaEduarda86.png"); }
.card:nth-child(7) .front { background-image: url("Gabriel38.png"); }

.card .face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), box-shadow 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), border-width 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98);
    box-shadow: 0px 1.2vw 4vw -1vw rgba(0, 0, 0, 0.6);
    background-position: 0 0;
    background-size: 21vw;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1.1vw;
}
.card .front {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/22/King_of_spades2.svg");
  transform: rotateX(0deg);
  background-size: cover;
}

.card .back {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Card_back_01.svg");
    transform: rotateX(180deg);
    background-size: cover;
}

.card:hover .front, .card.hover .front {
    transform: rotateX(20deg);
    box-shadow: 0px 10vw 9vw -6vw rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.card:hover .back, .card.hover .back {
    transform: rotateX(200deg);
    box-shadow: 0px -2vw 4vw -2vw rgba(35, 2, 2, 0.68), inset 0px -8vw 12vw -5vw rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.card.flipped .front { transform: rotateX(180deg); }
.card.flipped .back { transform: rotateX(360deg); }

.card.flipped:hover .front, .card.flipped.hover .front { transform: rotateX(200deg); }
.card.flipped:hover .back, .card.flipped.hover .back { transform: rotateX(340deg); }

@media (width < 1025px) {
    .card {
        width: 14%;
        height: 67%;
    }
}